$primary-color-black: #05070d;
$primary-color-white: #ffffff;
$primary-color-hero-btn: #e5e90a;
$primary-color-ticket-btn: #ff4d6d;
$primary-color-ticket-btn-hover: #ff2a50;

$color_bold-skyblue: #5bbff2;

$bg-color-header: #0e0e12;
$bg-color-black: #0e0f12;
$bg-color-dark-blue: #151821;
$bg-color-lightblue: #1b1f2d;
$bg-color-footer: #0b0d10;

$header-height: 60px;
$padding-hero: 100px 200px;
$padding-all-section: 50px 200px;

$padding-hero-laptop: 100px 140px;
$padding-all-section-laptop: 50px 140px;

$padding-hero-tablet: 60px 90px;
$padding-all-section-tablet: 40px 90px;

$padding-hero-mobile: 40px 20px;
$padding-all-section-mobile: 40px 20px;

$border: 1px solid #3e3f42;
